body {
    margin: 0;
    background: #f2f3f7;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    border-bottom: 1px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #004B2D;
}

.logo img {
    width: 32px;
    height: 32px;
}

.busqueda {
    display: flex;
    align-items: center;
    border: 2px solid #004B2D;
    border-radius: 50px;
    background: white;
    padding-left: 10px;
}

.busqueda input {
    width: 320px;
    padding: 6px 12px;
    border: none;
    font-size: 16px;
    outline: none;
}

.btn-search {
    background: transparent;
    color: #004B2D;
    border: none;
    border-left: 2px solid #004B2D;
    padding: 6px 14px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0 50px 50px 0;
    transition: 0.3s;
}

.btn-search:hover {
    background: rgba(0, 75, 45, 0.08);
}


.acciones {
    display: flex;
    gap: 20px;
    font-size: 26px;
    cursor: pointer;
    color: #004B2D;
}

.grid-productos {
    padding: 25px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.producto-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.producto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.producto-nombre {
    font-size: 18px;
    margin-top: 12px;
    color: #3a4742;
}

.producto-precio {
    font-size: 22px;
    color: #004B2D;
    font-weight: bold;
    margin-top: 5px;
}
