body {
  margin: 0;
  background: #f2f3f7;
  font-family: Arial, sans-serif;
}

.producto-container {
  display: flex;
  gap: 40px;
  padding: 40px 60px;
}

.producto-imagen img {
  width: 480px;
  height: 480px;
  object-fit: cover;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}

.producto-info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.categoria {
  color: #3a4742;
  font-size: 15px;
  margin-bottom: 5px;
}

.producto-info h1 {
  font-size: 30px;
  margin: 10px 0;
  color: #004b2d;
}

.precio {
  color: #004b2d;
  font-size: 32px;
  font-weight: bold;
  margin: 15px 0 25px 0;
}

.btn-agregar {
  background: #004b2d;
  color: white;
  padding: 14px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  width: 260px;
  transition: 0.2s;
}

.btn-agregar:hover {
  background: #00623d;
}

.descripcion-titulo {
  margin-top: 35px;
  font-size: 22px;
  color: #004b2d;
  font-weight: bold;
}

.descripcion {
  margin-top: 10px;
  font-size: 16px;
  color: #3a4742;
  line-height: 1.5;
}

.form-cantidad {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.form-cantidad label {
  font-size: 15px;
  color: #3a4742;
  font-weight: bold;
}

.form-cantidad input {
  width: 60px;
  padding: 6px 8px;
  font-size: 15px;
  border: 2px solid #004b2d;
  border-radius: 8px;
  outline: none;
  text-align: center;
}

.btn-agregar {
  padding: 10px 25px;
  font-size: 16px;
  background: #004b2d;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-agregar:hover {
  background: #006a41;
}
