body {
  margin: 0;
  font-family: Arial;
  background: #f7f7f7;
}

header {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #004b2d;
}

.logo img {
  width: 32px;
  height: 32px;
}

.cart-container {
  display: flex;
  max-width: 1100px;
  margin: 40px auto;
  gap: 25px;
  padding: 0 15px;
}

.cart-items {
  flex: 2;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cart-product {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #ddd;
}

.cart-product img {
  width: 85px;
  height: 85px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.cart-product-info h4 {
  margin: 0;
  font-size: 17px;
  color: #004b2d;
}

.cart-product-info p {
  margin: 5px 0;
  color: #555;
}

.cart-summary {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.cart-summary h3 {
  margin-top: 0;
  color: #004b2d;
}

.summary-line,
.summary-total {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-total span:last-child {
  font-size: 20px;
  font-weight: bold;
}

.payment-methods {
  margin-top: 20px;
}

.payment-methods h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.pm-card {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

.pm-card input {
  display: none;
}

.pm-card-content {
  padding: 12px;
  border-radius: 10px;
  border: 2px solid #ccc;
  background: #fafafa;
  transition: 0.25s ease;
  font-size: 15px;
}

.pm-card:hover .pm-card-content {
  border-color: #007a4d;
  transform: translateY(-2px);
}

.pm-card input:checked+.pm-card-content {
  border-color: #007a4d;
  background: #e6fff3;
}

.btn-ref {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #004b2d;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.ref-text {
  margin-top: 10px;
  font-weight: bold;
  color: #004b2d;
}

.btn-pagar {
  width: 100%;
  padding: 12px;
  border: none;
  font-size: 16px;
  border-radius: 25px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.btn-pagar:disabled {
  background: #bdbdbd;
  color: white;
  cursor: not-allowed;
}

.btn-pagar:not(:disabled) {
  background: #004b2d;
  color: white;
}

.btn-pagar:not(:disabled):hover {
  background: #00663f;
}

@media (max-width: 800px) {
  .cart-container {
    flex-direction: column;
  }
}