body {
  margin: 0;
  background: #f2f3f7;
  font-family: Arial, sans-serif;
}

.grid-productos {
  padding: 25px;
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.producto-card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.producto-nombre {
  font-size: 18px;
  margin-top: 12px;
  color: #3a4742;
}

.producto-precio {
  font-size: 22px;
  color: #004b2d;
  font-weight: bold;
  margin-top: 5px;
}
