<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="{{ url_for('static', path='icon/favicon.ico') }}" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="{{ url_for('static', path='icon/favicon.svg') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', path='icon/favicon.ico') }}"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', path='icon/apple-touch-icon.png') }}"
    />

    <meta name="apple-mobile-web-app-title" content="Tiendo" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/header.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='css/product.css') }}"
    />
    <script defer src="{{ url_for('static', path='js/product.js') }}"></script>
  </head>

  <body>
    {% include 'header.html' %}

    <div class="producto-container">
      <div class="producto-imagen">
        <img
          id="img-producto"
          src="{{ url_for('static', filename='static/img/ejemplo.jpg') }}"
        />
      </div>

      <div class="producto-info">
        <p class="categoria"></p>
        <h1 id="nombre-producto"></h1>

        <p class="precio" id="precio-producto"></p>

        <form id="formCantidad" class="form-cantidad">
          <label for="cantidad">Cantidad:</label>
          <input type="number" id="cantidad" min="1" value="1" />
          <button type="submit" class="btn-agregar">Agregar al carrito</button>
        </form>

        <div class="descripcion-titulo">Descripción</div>
        <p class="descripcion" id="desc-producto"></p>
      </div>
    </div>
  </body>
</html>
