<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="/view/icon/favicon-96x96.png"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/view/icon/favicon.svg" />
    <link rel="shortcut icon" href="/view/icon/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/view/icon/apple-touch-icon.png"
    />
    <meta name="apple-mobile-web-app-title" content="Tiendo" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="view/css/index.css" />
    <script src="view/js/index.js" defer></script>
    <title>Tiendo</title>
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="/view/icon/favicon.ico" alt="logo" />
        <span>Tiendo</span>
      </div>

      <div class="busqueda">
        <input type="text" placeholder="Buscar productos..." />
        <button class="btn-search">🔍</button>
      </div>

      <div class="acciones">
        <div class="btn-cuenta">👤</div>
        <div class="btn-carrito">🛒</div>
      </div>
    </header>

    <main>
      <section class="grid-productos" id="grid-productos"></section>
    </main>
  </body>
</html>
